<button class="btn btn-success" ng-click="editCustomer('new')">
    <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Create New Customer
</button>
<hr>

<h3 ng-show="edit">Create Customer:</h3>
<h3 ng-hide="edit">Edit Customer:</h3>

<form id="zonaForm" name="zonaForm" class="form-horizontal" method="post">

    <input type="text" hidden="hidden" ng-model="Id" name="Id">
    <div class="form-group">
        <label class="col-sm-2 control-label">Código:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="Codigo" placeholder="Código" name="Codigo" class="my-input" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Nombre:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="Nombre" placeholder="Nombre Zona" name="Nombre" class="my-input" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Ciudad:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="Ciudad" placeholder="Ciudad" name="Ciudad">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Estado:</label>
        <div class="col-sm-10">
            <input type="text" ng-model="Estado" name="Estado" placeholder="Estado" required class="my-input">
            <!--<span class="error" ng-show="myForm.input.$error.required">
                Required!
            </span>
            <span class="error" ng-show="myForm.input.$error.email">
                Not valid email!
            </span>-->
        </div>
    </div>

    <hr>

</form>

<button id="saveChange" class="btn btn-success" ng-disabled="error" ng-click="PostCustomer()">
    <span class="glyphicon glyphicon-save"></span>&nbsp;&nbsp;Save Changes
</button>